@import "font";

.mobishow {
    display: none;
}
#mobishownav{
    display: none;
}

@media only screen and (max-width: 765px) {

#mobishownav {
    background-color: #383838;
    width: 100%;
    position: absolute;
    margin: 0;
    top: 120px;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    border-bottom: solid 3px #f35235;
    z-index: 9999;
    
}
#mobishownav ul li {
    position: relative;
    padding: 8px 0 8px 8px;
    text-align: left;
    border-bottom: solid 1px #4c4c4c;
    cursor: auto;
}
#mobishownav ul li:last-child,
#mobishownav ul li ul li:last-child {
    border-bottom: none;

}
#mobishownav ul li a.is-active {
    color: #61720b;
}
#mobishownav ul li a, #mobishownav ul li > span {
    display: block;
    margin: 0 45px 0 10px;
    font-size: 1.4em;
    line-height: 20px;
}
#mobishownav ul li a,
#mobishownav ul li ul li a {
    display: block;
    position: static;
    padding: 14px 15px;
    border-bottom: none;
    color: white;
}
/* Hamburger button */    
.mobishow {
    display: block !important;
    grid-column: 6;
}
.container {
    display: inline-block;
    cursor: pointer;
    padding: 30px 11px 12px 11px;
}
.bar-before{
    background-color: #222;
}
.bar-after{
    background-color: #61720b;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

 /* Rotate first bar */
 .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    /* Fade out the second bar */
    .change .bar2 {
    opacity: 0;
    }
    
    /* Rotate last bar */
    .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    }
}