@import "font";

.main-nav {
    grid-column: 2/6;
    grid-row: 1;
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
}

.admin-nav {
    grid-column: 5/6;
    grid-row: 1;
    margin: 30px 10px 0 0;
    text-align: right;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
  }
  
  ul li {
    display: inline;
    text-align: center;
  }
  
  .main-nav a, .admin-nav a {
    display: inline-block;
    width: 25%;
    padding: .75rem 0;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 2;
    color: white;
  }

  .one:hover ~ hr,
  .one-isactive ~ hr {
    margin-left: 0;
  }

  .two:hover ~ hr,
  .two-is-active ~ hr {
    margin-left: 25%;
  }
  
  .three:hover ~ hr,
  .three-is-active ~ hr {
    margin-left: 50%;
  }
  
  .four:hover ~ hr,
  .four-is-active ~ hr {
    margin-left: 75%;
  }
 
  hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    border: none;
    transition: .3s ease-in-out;
  }

  // INTRO MENU HOVER LINKS COLOR
  .intro-link a:hover {
    color: $intro-color-one;
  }
  .main-intro-nav hr {
    background: $intro-color-one;
  }
  // WHO MENU HOVER LINKS COLOR
  .who-link a:hover {
    color: $who-color-one;
  }
  .main-who-nav hr {
    background: $who-color-one;
  }
  // WHAT MENU HOVER LINKS COLOR
  .what-link a:hover {
    color: $what-color-one;
  }
  .main-what-nav hr {
    background: $what-color-one;
  }
  // WORK MENU HOVER LINKS COLOR
  .work-link a:hover {
    color: $work-color-one;
  }
  .main-work-nav hr {
    background: $work-color-one;
  }


